.page-2-body{
    background-color: #E7A339;
    height: 100vh;
}

.page-2-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    margin-top: 100px;
 }

 .p2-h1{
    margin-top: 100px; 
    color: #fff;
 }