.footer-body {
  position: relative;

  background-color: var(--color-gray);
  height: 12.5vh;
  color: #fff;
}

#light .footer-body {
  background-color: var(--color-peachpuff);

  .footer-card-h1 {
    color: var(--color-gray);
  }

  .footer-card-text {
    color: var(--color-gray);
  }
}

.nav-link-login {
  border: 1px solid red;

  cursor: pointer;
}

.footer-logo-a {
    height: 5vh;
  position: relative;
  top: 15px;
  left: 10vw;
  width: 0.5vw;




 
}

.footer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 17vw;
  gap: 0.5vw;
}

.footer-card {
  width: 20%;
}

.footer-card-h1 {
  color: var(--color-peachpuff);
  font-size: 0.9rem;
  font-weight: 100;
}

.footer-card-text {
  color: var(--color-peachpuff);
  font-size: 0.7rem;
  font-weight: 200;
}

.footer-logo {
  position: relative;
  width: 5vw;

  
  



}

.footer-logo-light {
  position: relative;
  width: 5vw;


  



}

#light .footer-logo {
  display: none;
}

#dark .footer-logo-light {
  display: none;
}

.react-logo-container {
  width: 0px;
  height: 0px;
}

.react-logo {
  position: relative;
  left: 20vw;
  bottom: 5.5vh;

  height: 5.5vh;
  animation-name: rotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1200px) {


  .react-logo {
    left: 21vw;
    bottom: 4.5vh;

    height: 5vh;
  }

  .footer-card-h1 {
    color: var(--color-peachpuff);
    font-size: 0.7rem;
    font-weight: 100;
  }

  .footer-card-text {
    color: var(--color-peachpuff);
    font-size: 0.6rem;
    font-weight: 200;
  }
}

@media (max-width: 1024px) {
  .react-logo {
    bottom: 4vh;

    height: 4vh;
  }
}

@media (max-width: 960px) {
  .react-logo {
    bottom: 3.8vh;

    height: 3.5vh;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .footer-logo {
    left: -1vw;
  }
}

@media (max-width: 320px) {
  .footer-logo {
    left: -3vw;
   
  }

  .footer-logo-light {
    left: -3vw;
   
  }
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
