.footer-body{
    position: relative;
    top: -1vh;
    background-color: var(--color-gray);
    height: 15vh;
    color: #fff;
}

#light .footer-body{
    background-color: var(--color-peachpuff);
}