

.instructor-account-page-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    background-color: var(--color-gray);
    height: 79vh;

}

#light .instructor-account-page-body{
    background-color: var(--color-peachpuff);
}

#dark .instructor-account-page-body{
    background-color: var(--color-gray);
  }