


.downloadables-page-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    background-color: var(--color-gray);
    height: 230vh;

}

#light .downloadables-page-body{
    background-color: var(--color-peachpuff);
}

#dark .downloadables-page-body{
    background-color: var(--color-gray);
  }