* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Nav Light And Dark Mode */

#light .nav {
  background-color: var(--color-peachpuff);
}

#dark .nav {
  background-color: var(--color-gray);
}

#light .nav-list {
  background-color: var(--color-peachpuff);
}

#dark .nav-list {
  background-color: var(--color-gray);
}

#light .box_1 {
  background-color: var(--color-peachpuff);
}

#dark .box_1 {
  background-color: var(--color-gray);
}

#light .landing-btn-login {
  background-color: var(--color-gray);
  color: var(--color-peachpuff);
}

#dark .landing-btn-login {
  background-color: var(--color-peachpuff);
}

#light .landing-btn-signup {
  background-color: var(--color-gray);
}

#dark .landing-btn-signup {
  background-color: var(--color-peachpuff);
}

#light .nav-link {
  color: var(--color-peachpuff);
}

#dark .nav-link {
  color: var(--color-gray);
}


#light .logo-section {
  background-color: var(--color-peachpuff);
  
}

#dark .logo-section {
  background-color: var(--color-gray);
  
}

.nav {
  position: relative;
  top: -100px;
  width: 100%;
  margin: 0 auto;

  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--color-gray);
  align-items: center;
  color: rgb(70, 70, 70);
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}


.nav-list {
  position: relative;

  margin: 0 auto;
  background-color: var(--color-gray);
  justify-content: center;
  align-items: center;
  height: 80px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  color: var(--color-gray);
}



li a {
  font-size: 20px;
  text-decoration: none;
  color: #2a3d4f;
  padding: 10px;
  margin: 100px;
}

.nav-logo-img {
  position: relative;
  left: 10vw;
  width: 250px;
  height: 100px;
}

.nav-logo-img-light{
  position: relative;
  left: 10vw;
  width: 250px;
  height: 100px;

}

#dark .nav-logo-img-light{
  display: none;
}

#light .nav-logo-img{
  display: none;
}

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  background-color: var(--color-gray);
}

.sm-section {
  width: 15%;
  background-color: var(--color-lightseagreen);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sm-icon {
  width: 50px;
  margin: 20px;
}

.sm-logo-img {
  width: 50px;
}

.navbar-button-section {
  position: relative;
  left: 200px;
 
  
}


.landing-btn-login {
  background-color: var(--color-peachpuff);
  width: 120px;
  height: 50px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
}

.landing-btn-signup {
  background-color: var(--color-peachpuff);
  width: 120px;
  height: 50px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
}

// Toggle Light/Dark mode

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: 50vh auto 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.switch_box {
  position: relative;
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  max-width: 200px;
  min-width: 200px;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 5;
}

/* Switch 1 Specific Styles Start */

.box_1 {
  background: var(--color-gray);
}

input[type="checkbox"].switch_1 {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.5em;
  height: 1.5em;
  background: var(--color-gray);
  border: 1px solid #fed9bc;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
  background: var(--color-peachpuff);
  border: 1px solid var(--color-gray);
}

input[type="checkbox"].switch_1:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--color-peachpuff);
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
  left: calc(100% - 1.5em);
  background: var(--color-gray);
}
