* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav Light And Dark Mode */

#light .nav {
  background-color: var(--color-peachpuff);
}

#dark .nav {
  background-color: var(--color-gray);
}

#light .nav-list {
  background-color: var(--color-peachpuff);
}

#dark .nav-list {
  background-color: var(--color-gray);
}

#light .box_1 {
  background-color: var(--color-peachpuff);
}

#dark .box_1 {
  background-color: var(--color-gray);
}

#light .landing-btn-login {
  background-color: var(--color-gray);
  color: var(--color-peachpuff);
}

#light .landing-btn-login:hover,
#light .landing-btn-login:focus {
  background-color: var(--color-peachpuff);
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
}

#light .landing-btn-login:active {
  background-color: var(--color-gray);
  color: var(--color-peachpuff);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

#dark .landing-btn-login:hover,
#dark .landing-btn-login:focus {
  background-color: var(--color-gray);
  color: var(--color-peachpuff);
  border: 1px solid var(--color-peachpuff);
}

#dark .landing-btn-login:active {
  background-color: #0e121a;
  color: var(--color-peachpuff);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

#light .nav-link {
  color: var(--color-peachpuff);
}

#dark .nav-link {
  color: var(--color-gray);
}

#light .logo-section {
  background-color: var(--color-peachpuff);
}

#dark .logo-section {
  background-color: var(--color-gray);
}

.nav {
  position: relative;
  top: -100px;
  width: 100%;
  margin: 0 auto;

  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--color-gray);
  align-items: center;
  color: rgb(70, 70, 70);
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  
  
}

.nav-list {
  position: relative;
  width: 1px;

  margin: 0 auto;
  background-color: var(--color-gray);
  justify-content: center;
  align-items: center;
  height: 80px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  
 
}

.nav-link {
  text-decoration: none;
  color: var(--color-gray);
  
  
}

.landing-btn-login {
  background-color: var(--color-peachpuff);
  width: 120px;
  height: 50px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
}

li a {
  font-size: 20px;
  text-decoration: none;
  color: #2a3d4f;
  padding: 10px;
  margin: 100px;
  
}

.nav-logo-img {
  position: relative;
  left: 10vw;
  width: 250px;
  height: 100px;
  
}

.nav-logo-img-light {
  position: relative;
  left: 10vw;
  width: 250px;
  height: 100px;
}

#dark .nav-logo-img-light {
  display: none;
}

#light .nav-logo-img {
  display: none;
}

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  background-color: var(--color-gray);

}

.sm-section {
  width: 15%;
  background-color: var(--color-lightseagreen);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sm-icon {
  width: 50px;
  margin: 20px;
}

.sm-logo-img {
  width: 50px;
}

.navbar-button-section {
  position: relative;
  left: 200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

// Toggle Light/Dark mode

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin: 50vh auto 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.switch_box {
  position: relative;
  left: 30vw;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 150px;

  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: 5;
 
}

/* Switch 1 Specific Styles Start */

.box_1 {
  background: var(--color-gray);
}

input[type="checkbox"].switch_1 {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.5em;
  height: 1.5em;
  background: var(--color-gray);
  border: 1px solid #fed9bc;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
  background: var(--color-peachpuff);
  border: 1px solid var(--color-gray);
}

input[type="checkbox"].switch_1:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--color-peachpuff);
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
  left: calc(100% - 1.5em);
  background: var(--color-gray);
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 4000px) {
}

@media (max-width: 2000px) {
  .switch_box {
    left: 32vw;
  }
}

@media (max-width: 1400px) {
  .switch_box {
    left: 34vw;
  }

  .navbar-button-section {
    left: 150px;
  }
}

@media (max-width: 1200px) {
  .switch_box {
    left: 36vw;
  }

  .landing-btn-login {
    width: 100px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .landing-btn-login {
    width: 90px;
    height: 45px;
    font-size: 0.8rem;
  }

  .nav-logo-img {
    width: 215px;
  }

  .nav-logo-img-light {
    width: 215px;
  }

  input[type="checkbox"].switch_1 {
    width: 2.5em;
    height: 1em;
  }

  input[type="checkbox"].switch_1:after {
    width: 0.9em;
    height: 0.9em;
  }

  input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 0.9em);
  }
}

@media (max-width: 960px) {
  .landing-btn-login {
    width: 70px;
    height: 40px;
    font-size: 0.6rem;
  }

  .navbar-button-section {
    left: 100px;
  }

  .switch_box {
    width: 75px;
    left: 40vw;
  }
}

@media (max-width: 768px) {
  .nav-logo-img {
    width: 170px;
    left: 4vw;
  }

  .nav-logo-img-light {
    width: 170px;
    left: 4vw;
  }

  .switch_box {
    width: 75px;
    left: 34vw;
  }

  .navbar-button-section {
    left: 60px;
  }
}

@media (max-width: 600px) {
  .landing-btn-login {
    width: 60px;
    height: 30px;
    font-size: 0.54rem;
  }

  .switch_box {
    width: 65px;
    
  }
}

@media (max-width: 535px) {
  .navbar-button-section {
    position: relative;
    top: 50px;
   left: -10vw;
   gap: 5vw;
  }

  .switch_box {

    width: 75px;
    left: 65vw;
  }

  .nav-list {
    width: 10px;
  }

  .nav-logo-img {
    left: none;
    left: 20vw;

    width: 170px;
    height: 50px;
  }

  .nav-logo-img-light {
    left: none;
    left: 20vw;

    width: 170px;
    height: 30px;
  }

  .nav-list {
    z-index: -1;
  }
}

@media (max-width: 400px) {

  .nav-logo-img {
    top: 0.3vh;
    width: 150px;

  }

  .nav-logo-img-light {
    top: 0.3vh;
    width: 150px;
   
  }

  .navbar-button-section {
  
   gap: 3vw;
  }

  .switch_box {
      width: 56px;
    
  }

  input[type="checkbox"].switch_1 {
    width: 2.5em;
    height: 0.75em;
  }

  input[type="checkbox"].switch_1:after {
    width: 0.7em;
    height: 0.7em;
  }

  input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 0.7em);
  }
}

@media (max-width: 320px) {
  .landing-btn-login {
    width: 50px;
    height: 25px;
    font-size: 0.40rem;
  }

  .switch_box {
    left: 70vw;
  
}

.switch_box {
  width: 49px;

}






}


@media (max-width: 250px) {

  .landing-btn-login {
    width: 45px;
    height: 25px;
    font-size: 0.38rem;
  }

  .nav-logo-img {
    top: 0.3vh;
    width: 120px;

  }

  .nav-logo-img-light {
    top: 0.3vh;
    width: 120px;
   
  }

  .navbar-button-section{
    top: 33px;
  }

  .logo-section {
    position: relative;
    top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    height: 20px;
    background-color: var(--color-gray);
  
  }

  .switch_box {
    width: 41px;
  
  }

  input[type="checkbox"].switch_1 {
    width: 2.5em;
    height: 0.6em;
  }
  
  input[type="checkbox"].switch_1:after {
    width: 0.56em;
    height: 0.56em;
  }
  
  input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 0.6em);
  }
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
