.sign-up-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-gray);
  height: 160vh;
}

#light .sign-up-page-body {
  background-color: var(--color-peachpuff);
}

#dark .sign-up-page-body {
  background-color: var(--color-gray);
}

#light .form-input {
  background-color: var(--color-peachpuff);
  border: 1px solid var(--color-gray);
}

#dark .form-input {
  background-color: var(--color-gray);
}

.p3-h1 {
  margin-top: 100px;
  color: #fff;
}

.sign-up-form {
  position: relative;
  top: -5vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  height: 1500px;
  gap: 10px;
}

.sup-h1 {
  color: var(--color-tomato);
  font-size: 1rem;
  margin: 0 auto;
}

.form-input {
  width: 20vw;
  height: 50px;

  margin: 0 auto;
  background-color: var(--color-gray);
  border: 1px solid var(--color-peachpuff);
  border-radius: 30px;
}

.btn-send {
  position: relative;
  top: 3vh;
  background-color: var(--color-tomato);
  color: #fff;
  width: 10vw;
  height: 50px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.btn-send:hover,
.btn-send:focus {
  background-color: #ff6c6c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-send:hover {
  transform: translateY(-1px);
}

.btn-send:active {
  background-color: #ff5353;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.form-bottom-text {
  position: relative;
  top: 3vh;
  color: var(--color-tomato);
  font-size: 1rem;
  margin: 0 auto;
}

.sign-up-page-illustration-container {
  position: relative;
  top: 10vh;
  height: 40vh;
  margin: 0 auto;
}

.form-input[type="text"] {
  padding: 0px 1vw;
}

.form-input[type="email"] {
  padding: 0px 1vw;
}

.form-input[type="password"] {
  padding: 0px 1vw;
}

.form-input[type="date"] {
  padding: 0px 1vw;
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
  .sign-up-page-illustration-container {
    height: 30vh;
  }
}

@media (max-width: 1400px) {
  .sign-up-page-illustration-container {
    height: 20vh;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
  .sign-up-page-illustration-container {
    height: 10vh;
  }

  .form-bottom-text {
    font-size: 0.9rem;
  }

  .sup-h1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .form-bottom-text {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .form-bottom-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .form-input {
    font-size: 0.7rem;
  }

  .form-bottom-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .form-bottom-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .form-bottom-text {
    font-size: 0.6rem;
  }

  .form-bottom-text {
    font-size: 0.5rem;
  }
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
