#light .menu-item {
  color: var(--color-gray);
}

#dark .menu-item {
  color: var(--color-peachpuff);
}

.menu-item.active {
  font-weight: 800;
}


/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1700px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
