

.instructor-downloadables-img {

 
    padding: 10px;
  }

.downloadables-card-addition{

    height: 200px;
}

.instructor-downloadables-img-section{
    position: relative;
    top: 2vh;
    
    
}

