.page-3-body{
    background-color: #1686CD;
    height: 100vh;
}

.page-3-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    margin-top: 100px;
 }

 .p3-h1{
    margin-top: 100px; 
    color: #fff;
 }