* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-body {
  height: 105vh;
}

.landing-section-1{
  position: relative;
  display: flex;
  flex-direction: row;
  
}

#light {
  background-color: var(--color-peachpuff);
}

#dark {
  background-color: var(--color-gray);
}

.landing-body {
  width: 100%;
  margin: 0 auto;
  display: flex;

  justify-content: center;
}


.landing-text-and-button-container {
  position: relative;
  top: 10vh;
  left: 43vw;
  width: 40%;
  height: 10%;
  margin-right: 0 auto;
}

.lp-h1 {
  position: relative;
  top: 1vh;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 800;
  
}

#light .lp-h1 {
  color: var(--color-tomato);
}

#dark .lp-h1 {
  color: var(--color-peachpuff);
}

.sign-up-for-free-button {
  position: relative;
  top: 3vh;
  left: 30vw;
  width: 170px;
  height: 50px;
  background-color: var(--color-lightseagreen);
  color: var(--color-white);
  font-size: 0.8rem;

  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.sign-up-for-free-button:hover,
.sign-up-for-free-button:focus {
  background-color: #02cdb6;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.sign-up-for-free-button:hover {
  transform: translateY(-1px);
}

.sign-up-for-free-button:active {
  background-color: #018f7f;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.illustration-container {
  position: relative;
  top: 22vh;
  right: 22vw;
  
}

.landing-illustration-1 {
  position: relative;
  width: 41vw;
}

.landing-illustration-1-light {
  position: relative;
  width: 41vw;
}

#light .landing-illustration-1 {
  display: none;
}

#dark .landing-illustration-1-light {
  display: none;
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}


@media (max-width: 1700px) {

  .landing-body{
    height: 80vh;
  }

  .landing-text-and-button-container{
    width: 45%;
    left: 44vw;
  }

  .lp-h1{
    top: -3vh;
  }

  .illustration-container {
    top: 10vh;
    right: 34vw;
   
  
  }
  

}

@media (max-width: 1400px) {
  .landing-body{
    height: 70vh;
  }

  .lp-h1{
    font-size: 2.5rem;
  }
}


@media (max-width: 1200px) {

  .landing-body{
    height: 60vh;
  }


}

@media (max-width: 1024px) {

  .sign-up-for-free-button{
   
    width: 140px;
    left: 25vw;
  }

  .illustration-container{
    top: 2vh;
    right: 30vw;
  }

  .landing-illustration-1{
    width: 48vw;

  }

  .landing-illustration-1-light{
    width: 48vw;

  }
  
  .landing-text-and-button-container{
    top: 3vh;
    width: 38%;
    left: 56vw;
  }


}

@media (max-width: 960px) {

  .landing-text-and-button-container{
 
    left: 50vw;
  }

  .lp-h1{
    font-size: 2rem;
  }
  

  .sign-up-for-free-button{
    top: 3vh;
    width: 120px;
    height: 40px;
    font-size: 0.7rem;
    padding: calc(0.1075rem - 1px) calc(1.5rem - 1px);
  }



 
}

@media (max-width: 768px) {

  .landing-body{
    height: 50vh;
  }

  .sign-up-for-free-button{
    top: 2vh;
    left: 0;

    width: 120px;
    height: 40px;
    font-size: 0.7rem;
    padding: calc(0.1075rem - 1px) calc(1.5rem - 1px);
   
   

  }

  .landing-text-and-button-container{
    top: 5vh;
    text-align: center;
    left: 54vw;
    
  }

  .illustration-container{
    height: 10vh;
  }
  

  .lp-h1{
    font-size: 1.7rem;
    text-align: center;
  }




}

@media (max-width: 600px) {

  .landing-body{
    height: 45vh;
  }

  .sign-up-for-free-button{
    top: 2vh;
    width: 97px;
    height: 33px;
    font-size: 0.6rem;
    padding: calc(0.1075rem - 1px) calc(1.5rem - 1px);

  }

  .illustration-container{
    top: -5vh;
   
  }

  .landing-text-and-button-container{
    top: -3vh;

  }

  .lp-h1{
    font-size: 1.3rem;
  }

  
  
}

@media (max-width: 535px) {

  .landing-section-1{
    flex-direction: column;
  }

  .illustration-container{
    top: 15vh;
    right: 0;
    margin: 0 auto;
   
  }

  .landing-text-and-button-container{
    width: 70vw;
    top: -3vh;
    left: 0;
   

  }




}



@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
