* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-body {
  height: 105vh;
}

#light {
  background-color: var(--color-peachpuff);
}

#dark {
  background-color: var(--color-gray);
}

.landing-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: row;
  justify-content: center;
}

.landing-text-and-button-container {
  position: relative;
  top: 10vh;
  left: 35vw;
  width: 40%;
  height: 10%;
  margin-right: 0 auto;
}

.lp-h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 800;
}

#light .lp-h1 {
  color: var(--color-tomato);
}

#dark .lp-h1 {
  color: var(--color-peachpuff);
}

.sign-up-for-free-button {
  position: relative;
  top: 1vh;
  left: 20vw;
  width: 170px;
  height: 50px;
  background-color: var(--color-lightseagreen);
  color: var(--color-white);
  font-size: 0.8rem;
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.sign-up-for-free-button:hover,
.sign-up-for-free-button:focus {
  background-color: #02cdb6;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.sign-up-for-free-button:hover {
  transform: translateY(-1px);
}

.sign-up-for-free-button:active {
  background-color: #018f7f;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.illustration-container {
  position: relative;
  top: 22vh;
  right: 30vw;
}

.landing-illustration-1 {
  position: relative;
  width: 41vw;
}

.landing-illustration-1-light {
  position: relative;
  width: 41vw;
}

#light .landing-illustration-1 {
  display: none;
}

#dark .landing-illustration-1-light {
  display: none;
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
