* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-section-2-body {
  position: relative;
  top: -1vh;

  height: 60vh;
}

#light{
  background-color: var(--color-peachpuff);
}

#dark{
  background-color: var(--color-gray);
}

#light .lp2-h1 {
  color: var(--color-mediumslateblue);
}



.lp2-h1 {
  position: relative;
  top: 0;
  left: 1vw;
  width: 50vw;
  color: var(--color-peachpuff);
  font-size: 3.5rem;
  font-weight: 800;
  text-align: right;
}

.illustration2-container {
  position: relative;
  width: 30%;
  top: 1vh;
  left: 45vw;
}

.landing-illustration-2 {
  position: relative;
  top: -19vh;
  width: 41vw;
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {

  .lp2-h1{
    top: 1vh;
    font-size: 1rem;

  }

  .landing-illustration-2{
    top: 1vh;
  }

}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
