* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-section-3-body {
  position: relative;
  top: -1vh;

  height: 100vh;
}

#light {
  background-color: var(--color-peachpuff);
  color: var(--color-tomato);
}

#dark {
  background-color: var(--color-gray);
}

.landing-section-3-container {
  position: relative;
  top: 10vh;
}

.lp3-h1 {
  position: relative;
  left: 15vw;
  width: 20vw;
  font-size: 24px;
  color: var(--color-tomato);
}

.cards-image {
  position: relative;
  left: 13vw;
  width: 75vw;
}

#light .cards-image {
  display: none;
}

#light .cards-image-light {
  position: relative;
  left: 13vw;
  width: 75vw;
}

#dark .cards-image-light {
  display: none;
}

.store-icons-container {
  position: relative;
  bottom: 730px;
  left: 75vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 5vw;
}

.store-icons-h1 {
  color: var(--color-mediumslateblue);
  width: 10vw;
  font-size: 24px;
  font-weight: 900;
  text-align: left;
}

.google-play-button-image {
  position: relative;
  margin-left: 80px;
  width: 5vw;
  z-index: 2;
}

.google-play-button-image-light {
  position: relative;
  margin-left: 80px;
  width: 5vw;
  z-index: 2;
}

#light .google-play-button-image {
  display: none;
}

#dark .google-play-button-image-light {
  display: none;
}

.app-store-button-image {
  position: relative;
  margin-left: 80px;
  width: 5vw;
  z-index: 2;
}

.app-store-button-image-light {
  position: relative;
  margin-left: 80px;
  width: 5vw;
  z-index: 2;
}

#light .app-store-button-image {
  display: none;
}

#dark .app-store-button-image-light {
  display: none;
}


/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
