.login-page-body {
  display: flex;
  justify-content: row;
  justify-content: center;
  background-color: var(--color-gray);
  height: 105vh;
}

#light .login-page-body {
  background-color: var(--color-peachpuff);
}

#dark .login-page-body {
  background-color: var(--color-gray);
}


#light .form-input::placeholder {
   color: var(--color-gray);
 }
 
 #dark .form-input::placeholder {
   color: var(--color-peachpuff);
 }

 /* For date placeholder*/

 #light .form-input {
   color: var(--color-gray);
 }
 
 #dark .form-input {
   color: var(--color-peachpuff);
 }

.logp-h1 {
  position: relative;
  top: -1vh;
  color: var(--color-mediumslateblue);
  font-size: 1rem;
  margin: 0 auto;
}

.login-form {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  height: 90%;
  gap: 10px;
  
}

.form-input {
   color: red;
}

.btn-login {
  position: relative;
  top: 3vh;
  background-color: var(--color-mediumslateblue);
  color: #fff;
  width: 200px;
  height: 50px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}



.btn-login:hover,
.btn-login:focus {
  background-color: #a16bf8;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-login:hover {
  transform: translateY(-1px);
}

.btn-login:active {
  background-color: #764eb6;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}


/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
}

@media (max-width: 1200px) {
  
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}

