.login-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-gray);
  height: 105vh;
}

#light .login-page-body {
  background-color: var(--color-peachpuff);
}

#dark .login-page-body {
  background-color: var(--color-gray);
}

#light .form-input::placeholder {
  color: var(--color-gray);
}

#dark .form-input::placeholder {
  color: var(--color-peachpuff);
}

/* For date placeholder*/

#light .form-input {
  color: var(--color-gray);
  width: 22vw;
  height: 50px;
}

#dark .form-input {
  color: var(--color-peachpuff);
  width: 22vw;
  height: 50px;
}

.logp-h1 {
  position: relative;
  top: -1vh;
  color: var(--color-mediumslateblue);
  font-size: 1rem;
  margin: 0 auto;
}

.login-form {
  position: relative;
  top: -18vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  height: 250px;
  gap: 10px;
}

.form-input {
  color: red;
  width: 10vw;
}

.sign-up-page-illustration-container {
  position: relative;
}

.login-illustration-1 {
  position: relative;
  top: -18vh;
  width: 35vw;
}

.btn-login {
  position: relative;
  top: 10px;
  background-color: var(--color-mediumslateblue);
  color: #fff;
  width: 10vw;
  height: 50px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-weight: 300;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #a16bf8;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-login:hover {
  transform: translateY(-1px);
}

.btn-login:active {
  background-color: #764eb6;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
  .login-illustration-1 {
    width: 40vw;
  }
}

@media (max-width: 1700px) {
}

@media (max-width: 1400px) {
  .login-page-body {
    height: 90vh;
  }

  .login-form {
    top: -23vh;
  }

  #light .form-input {
    width: 27vw;
  }

  #dark .form-input {
    width: 27vw;
  }

  .login-illustration-1 {
    top: -22vh;
  }
}

@media (max-width: 1200px) {
  #light .form-input {
    width: 30vw;
  }

  #dark .form-input {
    width: 30vw;
  }

  .login-illustration-1 {
    width: 45vw;
  }
}

@media (max-width: 1024px) {
  .login-page-body {
    height: 90vh;
  }

  .login-illustration-1 {
    width: 51vw;
  }
}

@media (max-width: 960px) {
  .login-form {
    top: -25vh;
  }

  .login-illustration-1 {
    top: -25vh;
  }

  #light .form-input {
    width: 33vw;
  }

  #dark .form-input {
    width: 33vw;
  }

  .logp-h1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .login-page-body {
    height: 80vh;
  }

  .login-form {
    top: -20vh;
  }

  .login-illustration-1 {
    top: -20vh;
  }

  #light .form-input {
    height: 40px;
  }

  #dark .form-input {
    height: 40px;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .login-page-body {
    height: 70vh;
  }

  .login-form {
    top: -10vh;
  }

  .login-illustration-1 {
    top: -15vh;
  }
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
