.instructor-page-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    background-color: var(--color-gray);
    height: 100vh;
}


.p1-h1{
   margin-top: 200px;
   color: #ffffff;
}

.btn-1{
    height: 20px;
}

.instructor-page-menu{
    position: relative;
    top: 10vh;
    right: 30vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    
    color: var(--color-peachpuff);
    font-size: 25px;
    z-index: 3;
   

}

