.instructor-page-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    background-color: var(--color-gray);
    height: 120vh;
}

#light .instructor-page-body{
    background-color: var(--color-peachpuff);
}

#dark .instructor-page-body{
    background-color: var(--color-gray);
  }

.p1-h1{
   margin-top: 200px;
   color: #ffffff;
}

.btn-1{
    height: 20px;
}

.instructor-page-menu{
    position: relative;
    top: 10vh;
    right: -1vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    
    
    font-size: 25px;
    z-index: 3;
   

}

.menu-item{
    color: var(--color-peachpuff);
    cursor: pointer;
}




#light .instructor-card-title{
    color: var(--color-gray);
}


#light .add-card-2-p-1{
    color: var(--color-gray);

}

#light .add-card-2-p-2{
    color: var(--color-gray);

}

