.userlist-card-content {
  position: relative;
  top: 20px;
  left: 1vw;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 400px;
  text-align: right;
}

.students-name {
  font-size: 14px;
  font-weight: 100;
  color: var(--color-lightseagreen);
  width: 150px;
}

.students-subscription {
  position: relative;
  right: 50px;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-peachpuff);
  width: 100px;
}

#light .students-subscription {
  color: var(--color-gray);
}





@media (max-width: 3000px) {
  .userlist-card-content {
    width: 300px;
  }
}

@media (max-width: 2000px) {
  .userlist-card-content {
    width: 300px;
  }
}

@media (max-width: 1700px) {
}

@media (max-width: 1450px) {
  .userlist-card-content {
    top: 20px;
    left: -1vw;
  }
}

@media (max-width: 1200px) {
  .students-name {
    position: relative;
    right: 33px;
    font-size: 11px;
  }

  .students-subscription {
    position: relative;
    right: 100px;
    font-size: 11px;
  }

  .userlist-card-content {
    left: 0vw;
    width: 250px;
  }
}

@media (max-width: 1000px) {
  .userlist-card-content {
    width: 220px;
  }

  .students-subscription {
    right: 33px;
    font-size: 14px;
  }

  .students-name {
    right: 0;
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .students-name {
    font-size: 12px;
  }

  .students-subscription {
    font-size: 12px;
  }

  .userlist-card-content {
    top: 40px;
    left: 0vw;
    width: 210px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 450px) {
  .students-name {
    font-size: 11px;
  }

  .students-subscription {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}





@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
