.userlist-card-content {
  position: relative;
  top: 20px;
  left: 1vw;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 400px;
  text-align: right;
}

.students-name {
  font-size: 14px;
  font-weight: 100;
  color: var(--color-lightseagreen);
  width: 150px;
}

.students-subscription {
  position: relative;
  right: 50px;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-peachpuff);
  width: 100px;
}

#light .students-subscription {
  color: var(--color-gray);
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 2000px) {
  .userlist-card-content {
    width: 300px;
  }
}

@media (max-width: 1700px) {
}

@media (max-width: 1450px) {
  .userlist-card-content {
    top: 20px;
    left: -1vw;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
