.cards-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  top: 45px;
  right: 1vw;
  width: 60vw;
  height: 50vh;
}

.instructor-card {
  position: relative;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
}

.instructor-card-content {
  position: relative;
  top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.instructor-card-title-1 {
  font-size: 16px;
  font-weight: 100;
  color: var(--color-peachpuff);
  margin: 0 auto;
}

.instructor-card-amount {
  font-size: 55px;
  font-weight: 800;
  color: var(--color-lightseagreen);
  margin: 0 auto;
}

.instructor-card-increase {
  color: var(--color-mediumslateblue);
  font-size: 14px;
  font-weight: 100;
  margin: 0 auto;
}

.additional-cards {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20vh;
  gap: 15px;
}

.additional-card-0 {
  position: relative;
  top: 15px;
  width: 336px;
  height: 370px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
  text-align: center;
}

.additional-card-0-content {
  position: relative;
  top: 1vh;
  text-align: center;
}

.additional-card-1 {
  position: relative;
  top: 20px;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
}

.additional-card-1-img {
  position: relative;
  top: -2vh;
  right: 1vw;
  height: 200px;
}

.add-card-1-store-icons-container {
  position: relative;
  top: -170px;
  left: 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 5vw;
  z-index: 3;
}

.add-card-1-store-icons-h1 {
  position: relative;
  left: 30px;
  color: var(--color-mediumslateblue);
  width: 10vw;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}

.add-card-1-google-play-button-image {
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;
}

.add-card-1-app-store-button-image {
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;
}

.icon-card-position {
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;
}

.additional-card-2 {
  position: relative;
  top: 20px;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
  text-align: center;
}

.add-card-2-p-1 {
  position: relative;
  top: 2vh;
  width: 80%;
  font-size: 14px;
  color: var(--color-peachpuff);
  margin: 0 auto;
  text-align: center;
}

.add-card-2-p-2 {
  position: relative;
  top: 3vh;
  width: 80%;
  font-size: 14px;
  color: var(--color-peachpuff);
  margin: 0 auto;
  text-align: center;
}

.add-card-2-btn {
  position: relative;
  top: 4.5vh;
  width: 172px;
  height: 41px;
  color: var(--color-white);
  background-color: var(--color-lightseagreen);
  border-radius: 10px;
}

#light .instructor-card-title-1 {
  color: var(--color-gray);
}

#dark .add-card-1-google-play-button-image {
  display: none;
}

#dark .add-card-1-app-store-button-image {
  display: none;
}

#light .add-card-1-google-play-button-image-dark {
  display: none;
}

#light .add-card-1-app-store-button-image-dark {
  display: none;
}

/* <------------------------------> */

/* Responsive section */

@media (max-width: 3000px) {
  .cards-section {
    right: 1vw;
    width: 75vw;
    height: 50vh;
  }
}

/* Continue here to setup the card order breaking
on this 2350 px width*/

@media (max-width: 2350px) {
  .cards-section {
    right: 1vw;
    width: 56vw;
    height: 50vh;
  }
}

@media (max-width: 2000px) {
  .cards-section {
    right: 1vw;
    width: 69vw;
    height: 50vh;
  }
}

@media (max-width: 1750px) {
  .cards-section {
    right: -2vw;
  }
  .instructor-card {
    width: 320px;
  }

  .additional-card-1 {
    width: 320px;
  }

  .additional-card-0 {
    width: 320px;
  }

  .additional-card-2 {
    width: 320px;
  }
}

@media (max-width: 1660px) {
  .instructor-card {
    width: 280px;
  }

  .additional-card-1 {
    width: 280px;
  }

  .additional-card-0 {
    width: 280px;
  }

  .additional-card-2 {
    width: 280px;
  }

  .additional-card-1-img {
    top: -2vh;

    height: 180px;
  }

  .add-card-1-store-icons-container {
    top: -150px;
    left: 140px;
  }

  .instructor-card-amount {
    font-size: 50px;
  }
}

@media (max-width: 1450px) {
  .instructor-card {
    width: 250px;
  }

  .additional-card-1 {
    width: 250px;
  }

  .additional-card-0 {
    width: 250px;
  }

  .additional-card-2 {
    width: 250px;
  }

  .cards-section {
    right: -5vw;
  }

  .additional-card-1-img {
    top: 0vh;

    height: 150px;
  }

  .add-card-1-store-icons-container {
    top: -120px;
    left: 109px;
  }

  .add-card-2-p-1 {
    top: 3vh;

    font-size: 12px;
  }

  .add-card-2-p-2 {
    top: 4vh;

    font-size: 12px;
  }

  .add-card-2-btn {
    font-size: 10px;
    top: 5.5vh;
    width: 160px;
    height: 37px;
  }
  .add-card-1-store-icons-h1 {
    font-size: 12px;
  }
}

@media (max-width: 1350px) {
  .cards-section {
    right: 1vw;
    width: 63vw;
  }

  .instructor-card {
    width: 230px;
  }

  .additional-card-1 {
    width: 230px;
  }

  .additional-card-0 {
    width: 230px;
  }

  .additional-card-2 {
    width: 230px;
  }

  .instructor-card-amount {
    font-size: 45px;
  }
}

@media (max-width: 1200px) {
  .cards-section {
    right: 1vw;
  }

  .additional-cards {
    top: -20vh;
    gap: 15px;
  }

  .instructor-card {
    width: 180px;
    height: 140px;
  }

  .additional-card-1 {
    width: 180px;
  }

  .additional-card-0 {
    width: 180px;
    height: 310px;
  }

  .additional-card-2 {
    width: 180px;
  }

  .instructor-card-amount {
    font-size: 35px;
  }

  .instructor-card-title-1 {
    font-size: 12px;
  }

  .instructor-card-increase {
    font-size: 12px;
  }
  .add-card-2-btn {
    font-size: 10px;

    width: 140px;
    height: 34px;
  }

  .additional-card-1-img {
    top: 2vh;
    right: 2.5vw;
    height: 120px;
  }

  .add-card-1-store-icons-container {
    top: -70px;
    left: 65px;
  }
}

@media (max-width: 1000px) {
  .instructor-card {
    width: 230px;
  }

  .additional-card-1 {
    top: -165px;

    width: 230px;
  }

  .additional-cards {
    top: -20vh;
    gap: 15px;
  }

  .additional-card-0 {
    left: 250px;
    width: 230px;
    height: 370px;
  }

  .additional-card-1-img {
    top: 0vh;

    height: 150px;
  }

  .additional-card-2 {
    top: 25px;
    right: 245px;
    width: 230px;
  }

  .add-card-1-store-icons-container {
    top: -120px;
    left: 109px;
  }

  .add-card-2-p-1 {
    top: 3vh;

    font-size: 12px;
  }

  .add-card-2-p-2 {
    top: 4vh;

    font-size: 12px;
  }

  .add-card-2-btn {
    font-size: 10px;
    top: 5.5vh;
    width: 160px;
    height: 37px;
  }
  .add-card-1-store-icons-h1 {
    font-size: 12px;
  }

  .instructor-card-amount {
    font-size: 40px;
  }

  .instructor-card-title-1 {
    font-size: 16px;
  }

  .instructor-card-increase {
    font-size: 14px;
  }

  .instructor-card-content {
    top: 1vh;
  }
}

@media (max-width: 850px) {
  .instructor-card {
    width: 200px;
  }

  .additional-card-1 {
    width: 200px;
  }

  .additional-card-0 {
    left: 210px;
    width: 200px;
  }

  .additional-card-2 {
    right: 215px;
    width: 200px;
  }

  .additional-card-1-img {
    top: 2vh;
    right: 2.5vw;
    height: 120px;
  }

  .add-card-1-store-icons-container {
    top: -70px;
    left: 75px;
  }

  .instructor-card-title-1 {
    font-size: 12px;
  }

  .instructor-card-increase {
    font-size: 12px;
  }
  .add-card-2-btn {
    font-size: 10px;

    width: 140px;
    height: 34px;
  }

  .instructor-card-amount {
    font-size: 38px;
  }

  .instructor-card-content {
    top: 2vh;
  }

  .instructor-card-increase {
    position: relative;
    top: -5px;
  }

  .instructor-card-title-1 {
    position: relative;
    top: 4px;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .instructor-card {
    width: 155px;
  }

  .additional-card-1 {
    width: 155px;
  }

  .additional-card-0 {
    top: -170px;
    left: -230px;
    width: 180px;
  }

  .additional-card-2 {
    top: -165px;
    right: 0px;
    width: 155px;
  }
}

@media (max-width: 620px) {
  .cards-section {
    right: -1vw;
    width: 41vw;
  }
  .additional-cards {
    right: 210px;
    top: -20vh;
  }

  .instructor-card {
    width: 190px;
  }

  .additional-card-1 {
    right: 45px;
    top: -725px;
    width: 190px;
  }

  .additional-card-0 {
    top: -950px;
    left: -260px;
    width: 190px;
  }

  .additional-card-2 {
    right: 245px;
    top: -500px;
    width: 190px;
  }
}


/* Continue here with main width 
cards placement, cards-width on 
smaller screen width and on
all responsiveness setup

Make cards smaller after max-width: 500px

Needs attention:
740 px width cards are to wide and going
of of the screen size


*/

@media (max-width: 500px) {
  .cards-section {
    right: 5vw;
    width: 41vw;
  }

  .additional-card-1 {
    right: 0px;
    top: -725px;
    width: 190px;
  }

  .additional-card-0 {
    top: -950px;
    left: -205px;
    width: 190px;
  }

  .additional-card-2 {
    right: 205px;
    top: -500px;
    width: 190px;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 3000px) {
}

@media (max-height: 2000px) {
}

@media (max-height: 1000px) {
}

@media (max-height: 900px) {
}

@media (max-height: 600px) {
}

@media (max-height: 400px) {
}

@media (max-height: 300px) {
}

@media (max-height: 200px) {
}
