.cards-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  top: 10vh;
  right: 1vw;
  width: 60vw;
  height: 80vh;
}

.instructor-card {
  position: relative;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
}

.instructor-card-content {
  position: relative;
  top: 2vh;
  display: flex;
  flex-direction: column;
}

.instructor-card-title {
  font-size: 14px;
  font-weight: 100;
  color: var(--color-peachpuff);
  margin: 0 auto;
}

.instructor-card-amount {
  font-size: 55px;
  font-weight: 800;
  color: var(--color-lightseagreen);
  margin: 0 auto;
}

.instructor-card-increase {
  color: var(--color-mediumslateblue);
  font-size: 14px;
  font-weight: 100;
  margin: 0 auto;
}

.additional-cards{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20vh;
  gap: 15px;
}

.additional-card-0{
  position: relative;
  top: 15px;
  width: 336px;
  height: 370px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
  text-align: center;

}

.additional-card-0-content{
  position: relative;
  top: 1vh;
  text-align: center;
}

.additional-card-1{
  position: relative;
  top: 10px;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;

}

.additional-card-1-img{
  position: relative;
  top: -2vh;
  right: 1vw;
  height: 200px;
}

.add-card-1-store-icons-container{
  position: relative;
  top: -170px;
  left: 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 5vw;
  z-index: 3;

}

.add-card-1-store-icons-h1{
  position: relative;
  left: 30px;
  color: var(--color-mediumslateblue);
  width: 10vw;
  font-size: 16px;
  font-weight: 200;
  text-align: left;

}

.add-card-1-google-play-button-image{
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;

}

.add-card-1-app-store-button-image{
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;

}

.icon-card-position{
  position: relative;
  left: 30px;
  width: 4.5vw;
  z-index: 2;

}


.additional-card-2{
  position: relative;
  top: 10px;
  width: 336px;
  height: 185px;
  border-radius: 30px;
  box-shadow: 10px 10px 13px #0000004d;
  text-align: center;

}

.add-card-2-p-1{
  position: relative;
  top: 2vh;
  width: 80%;
  font-size: 14px;
  color: var(--color-peachpuff);
  margin: 0 auto;
  text-align: center;
}

.add-card-2-p-2{
  position: relative;
  top: 3vh;
  width: 80%;
  font-size: 14px;
  color: var(--color-peachpuff);
  margin: 0 auto;
  text-align: center;

}

.add-card-2-btn{
  position: relative;
  top: 4.5vh;
  width: 172px;
  height: 41px;
  color: var(--color-white);
  background-color: var(--color-lightseagreen);
  border-radius: 10px;
  

}

#dark .add-card-1-google-play-button-image{
    display: none;
}

#dark .add-card-1-app-store-button-image{
    display: none;
}

#light .add-card-1-google-play-button-image-dark{
    display: none;
}

#light .add-card-1-app-store-button-image-dark{
    display: none;
}





