.page-1-body{
    background-color: #DC3A79;
    height: 100vh;
}

.page-1-body{
    display: flex;
    justify-content: row;
    justify-content: center;
    margin-top: 100px;
}

.p1-h1{
   margin-top: 100px;
   color: #fff;
}
